<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.mapper.UserMapper">
    <resultMap id="userMap" type="com.echo.pojo.UserInfo">
        <result column="id" property="id"/>
        <result column="open_id" property="openId"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="city" property="city"/>
        <result column="country" property="country"/>
        <result column="gender" property="gender"/>
        <result column="language" property="language"/>
        <result column="nick_name" property="nickName"/>
        <result column="province_id" property="provinceId"/>
        <result column="score" property="score"  javaType="Long" />
        <result column="rank" property="rank" javaType="Long"/>
        <result column="session_key" property="sessionKey"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="password" property="password"/>
        <result column="work_type" property="workType"/>
        <result column="real_name" property="realName"/>
        <result column="department" property="department"/>
        <result column="level" property="level" />
        <result column="role" property="role" />
    </resultMap>
    <select id="getAllUsers" resultMap="userMap">
        select
               `id`,`real_name`,`score`,`rank`,`phone_number`,
               `work_type`,`department`,`level`,`create_time`,`update_time`,`role`
        from
            tb_user;
    </select>
    <delete id="deleteUser">
        delete from tb_user where `id` = #{userId}
    </delete>

    <select id="findUpdateInfoById" parameterType="long" resultMap="userMap">
        select
               `id`,`phone_number`,`work_type`,`real_name`,`role`
        from tb_user where `id` = #{userId}
    </select>

    <update id="updateUser" parameterType="com.echo.pojo.UserInfo">
        update tb_user set `real_name` = #{realName},`phone_number` = #{phoneNumber},
                           `work_type` = #{workType},`role` = #{role} where `id` = #{id}
    </update>

    <update id="resetWorkType" parameterType="string">
        update tb_user set `work_type`=#{newType} where `work_type` = #{workType}
    </update>

    <select id="getUserByPhoneNum" parameterType="string" resultMap="userMap">
        select * from tb_user where `phone_number` = #{phoneNumber}
    </select>
</mapper>